DATABASE_URL=postgresql+psycopg://assessment_user:assessment_pass@localhost:postgres_port/assessment_db 
APP_ENV=development
postgres_db=assessment_db
postgres_pass=assessment_pass
postgres_user=assessment_user
postgres_port=postgres_port
APP_PORT=8000