PORT=3000
DATABASE_URL=postgres://assessment_user:assessment_pass@localhost:5432/assessment_db
POSTGRES_DB=assessment_db
POSTGRES_USER=assessment_user
POSTGRES_PASSWORD=assessmnent_pass
POSTGRES_PORT=5433 //change to 5432 if that's your local port
NODE_ENV=development
GEMINI_API_KEY=input-yours-here